<html>
<head>
    <title> Spotify Lite </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
    <style>
        .form-item{
            width: 80%;
        }
    </style>
</head>
<body>
    <button onclick="BacktoHome()">Back to Home</button>
    <p>You can't access this page</p>
</body>
</html>

<script>
    var BacktoHome = function(){
        location.assign('http://localhost:3001');   
    }
</script>